
<ag-grid-angular
    #agGrid
    style="width: 1000px; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    (gridReady)="onGridReady($event)"
>
</ag-grid-angular>

<form>
    <label for="name">名前：</label>
    <!--［1］テキストボックスtxtNameに対して、nameプロパティをひも付け-->
    <input id="txtName" name="txtName" type="text"
      [(ngModel)]="text" />
    <!--［2］nameプロパティをもとに挨拶メッセージを生成-->
    <div>Function: {{text}}</div>
</form>
<button (click)="clickButton()">f</button>